h1{
    color: white;
    border: 1px solid #000000;
    margin: 50px;
    padding: 10px;
}

body {
    background-color: rgb(182, 174, 174);
}

.navbar{
    border: 1px solid #000000;
    height: 75px;
}

.logo{
    height: 75px;
    float: left;
}

.lista{
    display: inline-block;
}